table.basictable {
    border: 1px solid black;
}

table.basictable tr:nth-child(even) {
background: #CCC
}
table.basictable tr:nth-child(odd) {
background: #FFF
}

table.basictable tr.colored
{
	background: #4444ef;
}

table#rawdata {
    border: 1px solid black;
}

table#rawdata  td{
    border: 1px solid black;
}

table#rawdata .header_row {
    background-color: #ffbb93;
}

table.instrument_info {
    border: 1px solid black;
}

table.instrument_info  td{
    border: 1px solid black;
}


.blubruh {
    width:300px;
    background-color: #ffeeb2;
    border: 2px solid;
    border-radius: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.macdsignaltable {
    background-color: #eeffb2;

}

.macdsignaltable td {
    border: 1px solid black;
}

h1 {
    color: #0010bb;
    font-family: sans-serif;
}

h2 {
    color: #0020c2;
    font-family: sans-serif;
}


h3 {
    color: #0020c2;
    font-family: sans-serif;
}

.toolbar {
    width: 1000px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #883333;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.toolbar#main_toolbar {
    width: 600px;
    color: #883333;
    background-color: #eeeef3;
}



div.toolbar_item {
    width: 120px;
    height: 22px;
    background-color: #111111;
    color: #eeeeee;
    border-radius: 10px;
    text-align: center;
    display:inline-block;
}

div.toolbar_item_selected {
    width: 120px;
    height: 22px;
    background-color: #333366;
    color: #eeeeee;
    border-radius: 10px;
    text-align: center;
    display:inline-block;
}

div#subframe div.toolbar_item {
    background-color: #333333;

}

div#main_frame {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeef3;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#subframe {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddde3;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.signaltable td {
    background-color: #ffffff;

}
table.signaltable td.action_BUY {
    background-color: #00ff00;
}
table.signaltable td.action_SELL {
    background-color: #ff0000;
}
table.signaltable td.action_CLOSE {
    background-color: #0000ff;
}



table th {
    background-color:#000052;
    color: #ffffff;

}

div.float_right
{
    float: right;
    position: relative;
}

div#return_graph
{
    float: right;
    position: relative;
}

tr.colored
{
	background: #D60F12;
}

div#return_graph
{
    height:400px;
}

div.ggraph
{
    height: 300px;
    float:right;
    min-width: 600px;
    width: auto;
}


table.MsoTableGrid
{
    background: #ffffff;
    border-collapse: collapse;
    padding: 0px;
}

table.MsoTableGrid td
{
    vertical-align: top;
    border: 1px solid black;
    padding: 0px;
}


div.pairtrade_section
{
    background: #aaaaaa;
    padding-bottom: 20px;
}

div.pairtrade_caption
{
background: #000000;
color: #ffffff;
}

div.sentiment_section
{
    background: #ffffff;
}


div.bordered
{
    border: 1px solid black;
    width: 600px;
    background-color: #fafafa;

}

img.icon 
{
    height: 20px;
}


div#loginform
{
    font-size: 110%;
    width: 400px;
    min-height: 100px;
    background: #eeeeee;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    clear: both;
}

#loginform input {
    width: 130px;
}
#loginform label {
    width: 100px;
}

#invalid_pass {
    color: #ff0000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.add_stack {
    display: block;
}

div.instr_add_form {
    max-width: 500px;
}


.instr_add_form label {
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}


.defaultText { width: 300px; }
.defaultTextActive { color: #a1a1a1; font-style: italic; }


#logininfo
{
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    background: #eeeeee;
    border-radius: 10px;
    padding: 8px;
    font-size: 80%;
}

.trade_ticker { width: 130px; }
.trade_type { width: 70px; }
.trade_qty { width: 40px; }
.trade_date { width: 140px; }
.trade_value { width: 90px; }


