

h2 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2682B4;
    font-family: sans-serif;
}

table {
    border: 1px solid black;
}



table td {
    background-color: #ffffff;
    border: 1px solid #997e65;
}

table th {
    background-color:#36669C;
    color: #ffffff;
    font-family: sans-serif;
    height: 24px;
}




#login_logo_container {
    position: absolute;
    left: 0;
    top: 22%;
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


#oleumlogin_logo {
    width: 330px;
}

#login_credentials 
{
    position: absolute;
    left: 0;
    bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.login_field {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    left: 0;
}

.login_field input {
    width: 230px;
    height: 24px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    text-align: center;
}


#oleum_logo_container {
    margin-top: 20px;
    margin-bottom: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

#oleum_logo {
    width: 170px;
}

#oleum_logo:hover {
    cursor: pointer;
}


#oleum_logout_container {
    position: fixed;
    bottom: 25px;
    left: 0;
    text-align: center;
    width: 230px;
    height: 50px;
}


#oleum_logout {
    width: 54px;
}
#oleum_logout:hover {
    cursor:pointer;
}

#oleum_username_container {
    position: fixed;
    bottom: 90px;
    width: 230px;
    text-align: center;
    left: 0px;
    margin: 0 auto;
    padding: 0;
}


#oleum_username {
    width: 110px;
    border: 1px solid grey;
    color: grey;
    border-radius: 7px;
    margin: auto;
}
#oleum_username:hover {
    cursor: default;

}


.oleum_toolbar {
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


div#left_bar {
    position: fixed;
    top: 260px;
    left: 0;
    width: 230px;
    text-align: center;
    padding: 0;
    margin: 0 auto;

}

div#top_bar {
    position: absolute;
    top: 0px;
    left: 0;
    height: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
}

.oleum_button {

    border-radius: 7px;
    font-family:Tahoma,Helvetica;
    border: 1px;
    height: 25px;
    width: 170px;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;

}

.oleum_button:hover {
    cursor: pointer;
}


div.left_button {
    background: #666666;
    color: white;
    font-style: bold;
    margin: auto;
    margin-bottom: 13px;
    font-size: 110%;
}


div.top_button {
    display: inline-block;
    background: #dddddd;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
}



div#main_frame {
    position: absolute;
    left: 250px;
    /*border: 1px solid black;
    background: cyan;*/
    height: 100%;
    width: 1000px;
    min-height: 840px;
    padding: 0;
    margin: 0;
}


div#left_frame {
    position:fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
}

div#sub_frame {
    position: absolute;
    left: 0;
    /*top: 110px;*/
    /*background: #eeeeee;*/
    width: 990px;
    min-height: 530px;
    /*border: 1px solid black;*/
    border-radius: 3px;
    margin: 0;
    padding: 10px;
}

.add_fld select {
    min-width: 100px;
    color : green;
}
.add_fld label {
    display: block;
}
div.add_fld {
    display: inline-block;
    padding: 5px;
}

#newassetwindow .ui-button-text {
    font-size: 8px;
}

.oleum_icon {
    height: 22px;
}

.symbol_edit {
    height: 22px;
}

.symbol_add {
    height: 22px;
}

.symbol_delete {
    height: 22px;
}

.symbol_magnifier {
    height: 22px;
}

.ui-dialog-titlebar {
    background-color:#36669C;
    background-image: none;
    border-color: #36669C;
}

.ui-datepicker-header {

    //background: -webkit-linear-gradient(#997e65, #85764f); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#997e65, #85764f); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#997e65, #85764f); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#997e65, #85764f); /* Standard syntax */

    border-color: #997e65;
    background-color: #997e65;
}

.ui-state-focus, .ui-widget-content .ui-state-focus {
    border: 1px solid #6E7CE4;
    background: #C8CAEE;
    color: #363636;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border: 1px solid #6E7CE4;
    background: #FFFFFF;
    color: #363636;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}